@page "{city?}/{date?}"
@model KinoDnesApi.Pages.IndexModel

<!DOCTYPE html>

<html>
<head>
    <title>Kino Dnes</title>
</head>
<body>
<div>
    Main page
    <div>
        CityModel = @Model.City
    </div>
    <div>
        DateModel = @Model.Date    
    </div>
</div>
</body>
</html>